body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* .title{
  position: relative;
  width: 100%;
  text-align: center;
}
.title::before {
  width: 100%;
  height: 5px;
  background-color: blue;
}
.title::after {
  content: '';
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 0;
  right: 0;
  height: 5px;
  background-color: blue;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;
